In [0]:
import numpy as np
student_score = np.array([[1, 90, 80, 85, 0, 0.0, 0],[2, 90, 85, 90, 0, 0.0, 0], [3, 80, 80, 80, 0, 0.0, 0]])

In [2]:
for i in range(len(student_score)):     #총점 추가
  student_score[i,4] = np.sum(student_score[i,1:4])
student_score

array([[  1.,  90.,  80.,  85., 255.,   0.,   0.],
       [  2.,  90.,  85.,  90., 265.,   0.,   0.],
       [  3.,  80.,  80.,  80., 240.,   0.,   0.]])

In [3]:
for i in range(len(student_score)):       #평균점수 추가
  student_score[i,5] = np.mean(student_score[i,1:4])
student_score

array([[  1.        ,  90.        ,  80.        ,  85.        ,
        255.        ,  85.        ,   0.        ],
       [  2.        ,  90.        ,  85.        ,  90.        ,
        265.        ,  88.33333333,   0.        ],
       [  3.        ,  80.        ,  80.        ,  80.        ,
        240.        ,  80.        ,   0.        ]])

In [7]:
kor_avg = np.mean(student_score[:,1])
eng_avg = np.mean(student_score[:,2])
math_avg = np.mean(student_score[:,3])

print("국어평균: ",kor_avg,"영어평균: ",eng_avg,"수학평균: ",math_avg)

국어평균:  86.66666666666667 영어평균:  81.66666666666667 수학평균:  85.0

In [9]:
print("학급평균: ", np.mean(student_score[:,5]))

학급평균:  84.44444444444444