In [0]:
student_score =[
                {'num':1,'name':'김철수','kor':90,'eng':80,'math':85},
                {'num':2,'name':'박제동','kor':90,'eng':85,'math':90},
                {'num':3,'name':'홍길동','kor':80,'eng':80,'math':80}
]

student_score = student_score + [{'num':4,'name':'김영희','kor':85,'eng':90,'math':90}, {'num':5,'name':'정아영','kor':95,'eng':95,'math':95}]     #2명추가

In [0]:
def stu_total(s_score):       #구성원 total 추가
  for i in range(len(s_score)):
    s_score[i]['total']=s_score[i]['kor'] + s_score[i]['eng'] + s_score[i]['math']
  return s_score;

def stu_avg(s_score):       #구성원 average 추가
  for i in range(len(s_score)):
    s_score[i]['avg']=s_score[i]['total']/3
  return s_score;


stu_total(student_score)
stu_avg(student_score)

In [32]:
def class_avg(c_score):
  c_score = student_score[0]['total']+student_score[1]['total']+student_score[2]['total']+student_score[3]['total']+student_score[4]['total']
  print("학급평균: ", c_score/5)
  return ;

class_avg(student_score)      #학급평균 출력 

def kor_avg(c_score):
  c_score = student_score[0]['kor']+student_score[1]['kor']+student_score[2]['kor']+student_score[3]['kor']+student_score[4]['kor']
  print("국어평균: ", c_score/5)
  return ;

kor_avg(student_score)      #국어 평균 출력 

def eng_avg(c_score):
  c_score = student_score[0]['eng']+student_score[1]['eng']+student_score[2]['eng']+student_score[3]['eng']+student_score[4]['eng']
  print("영어평균: ", c_score/5)
  return ;

eng_avg(student_score)      #영어 평균 출력 

def math_avg(c_score):
  c_score = student_score[0]['math']+student_score[1]['math']+student_score[2]['math']+student_score[3]['math']+student_score[4]['math']
  print("수학평균: ",c_score/5)
  return ;

math_avg(student_score)      #수학평균 출력

학급평균:  262.0
국어평균:  88.0
영어평균:  86.0
수학평균:  88.0